{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %} 

{% macro holdfaculty(old,new) %}
  {% if old == new %}
  {% else %}
    <tr>
       <td colspan="10" class="highlight-dark text-center"><h5><strong>{{new}}</strong></h5></td>
    </tr>
  {% endif %}
 {%- endmacro %}

{% macro hold(old,new) %}
  {% if old == new %}
  {% else %}
    <tr>
       <td colspan="10" class="highlight text-center"><strong>{{new}}</strong></td>
    </tr>
  {% endif %}
 {%- endmacro %}

 {% macro holdstandard(old,new) %}
  {% if old == new %}
  {% else %}
    <tr>
       <td colspan="10" class="highlight-light"><strong>{{new}}</strong></td>
    </tr>
  {% endif %}
 {%- endmacro %}

 


{% macro icon(start,finish) %}
  {% if (start == True) and (finish == False) %}
  <i class="fa fa-check-square-o fa-2x" style="color:orange"></i>
  {% elif (start == True) and (finish == True) %}
  <i class="fa fa-check-square fa-2x" style="color:green"></i>
  {% else %}
  <i class="fa fa-minus fa-lg" style="color:red"></i>
  {% endif %}
{%- endmacro %}

{% macro type(standard_type) %}
  {% if standard_type == 'Achievement Standard' %}
   A.S.
  {% else %}
   U.S.
  {% endif %}
{%- endmacro %}



<div class="container" style="margin-top:20px;">
  <div class="row">
    <div class="col-sm-12">
      {{highlight}}
<!--       <form class="form-inline" role="form" method="GET">
          <div class="form-group">
              <label>Subjects</label>
         
              <select name="q">
              <option value="A">All Subject</option>
              {% for child in subject_list %}
              {% if child == q %}
              <option selected="selected" value="{{child}}">{{child}}</option>
              {% else %}
              <option value="{{child}}">{{child}}</option>
              {% endif %}
              {% endfor %}
              </select>
          </div>

          <button type="submit" class="btn btn-default btn-xs">Sort</button>
        </form> -->
    </div>  
  </div>

  <h2>Standards <small> All Years </small> </h2>
  {% if urlcursor and q and o %}
    <p class="text-center"><a href="/standardsall?q={{q}}&o={{o}}&c={{urlcursor}}">Next Page <i class="fa fa-angle-double-right"></i></a></p>
    {% elif urlcursor %}
    <p class="text-center"><a href="/standardsall?c={{urlcursor}}">Next Page <i class="fa fa-angle-double-right"></i></a></p>
    {% else %}
    <p></p>
    {% endif %}          
  <table class="table table-condensed">
    <thead>
      <tr>
      <!-- 	<th>Edit</th> -->
        <th></th>
        <th>Year</th>
        <th>Subject</th>
        <th>Standard</th>
        <th>Standards Critiqued</th>
        <th>Samples Retained</th>
        <th>No of Verifications</th>
        <th>No of Verification differences</th> 
        <th>No of other school verifications</th>
        <th>Total Student Entries</th>
      </tr>
    </thead>
    <tbody>

    {% for child in var %}

   
      {{holdfaculty(previous_faculty,child.subject_title)}}
      {{hold(previous_subject,child.subject_id)}}
      {{holdstandard(previous_standard,child.standard_no)}}
   
       {% set previous_subject = child.subject_id %}
       {% set previous_faculty = child.subject_title %}
       {% set previous_standard = child.standard_no %}
      <tr> 
      	<!-- <td><a  href="../standards/{{child.key.id()}}" role="button"><i class="fa fa-pencil"></i></a></td> -->

        <td><strong>{{child.year}}</strong></td>
        <td><a  href="../xml/{{child.key.id()}}" role="button"><i class="fa fa-file-word-o"></i></a></td>
        <td><a  style="color: black;"href="../standards?q={{child.subject_title}}&o=A" role="button">{{child.subject_title}} - {{child.subject_id}}</a></td>
        <td><a  href="../standards/{{child.key.id()}}" role="button">{{type(child.standard_type)}}{{child.standard_no}} - v{{child.version}} | {{child.title}}</a></td>
        <td>{{icon(child.critique_started,child.critique_finished)}}</td>
        <td>{{icon(child.sample_started,child.sample_finished)}}</td>
        <td><strong>{{child.verification_finished}}</strong></td>
        <td><strong>{{child.verification_difference}}</strong></td>
        <td><strong>{{child.verification_other_school}}</strong></td>
        <td><strong>{{child.verification_total}}</strong></td>
      </tr>
         
    {% endfor %}
    

    </tbody>
  </table>
    {% if urlcursor and q and o %}
    <p class="text-center"><a href="/standardsall?q={{q}}&o={{o}}&c={{urlcursor}}">Next Page <i class="fa fa-angle-double-right"></i></a></p>
    {% elif urlcursor %}
    <p class="text-center"><a href="/standardsall?c={{urlcursor}}">Next Page <i class="fa fa-angle-double-right"></i></a></p>
    {% else %}
    <p class="text-center">No more results</p>
    {% endif %}
{% endblock %}