{% extends "background2.html" %}
{% block title %}Create / Delete Users{% endblock %}

{% block content %}

  <div class="container">
      

  <div class="col-md-12">
    <div class="col-md-3">
      &nbsp;
    </div>
    <div class="col-md-6"> 
      <h2>Delete Staff</h2>
      <p><strong> This will <mark><em>delete staff</em></mark> from the staff list. This list contains the names of staff who can be assigned as "Teacher in Charge" of either standard or verification data.</strong></p>

      <p><small>Note this does not delete the user from their ability to sign in to the website</small></p> 


      <form method="POST" role="form">          
     
          <div class="form-group">
            {{form.member.label}} {{form.member(class="form-control", size="30")}}
          </div>
        <button type="submit" class="btn btn-primary btn-lg">Delete</button>
 
       
                                          
      </form>   
     </div>
     <div class="col-md-3">
      &nbsp;
    </div> 
  </div>
</div>
 
   
{% endblock %}