{% extends "base.html" %}
{% block title %}Help{% endblock %}

{% block content %} 





<div class="container" style="margin-top:20px;">
  <div class="row">
       <div class="col-md-2">
     
          <h4>Top aligned media</h4>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
         
        </div>
 
      <div class="col-md-4">
          <div class="responsive-vide"><iframe width="280" height="156" src="https://www.youtube.com/embed/MYBfjnhSNcY" frameborder="0" allowfullscreen></iframe></div>
      </div>

      <div class="col-sm-2">
     
          <h4>Top aligned media</h4>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,</p>   
         
        </div>
 
      <div class="col-md-4">
          <div class="responsive-vide"><iframe width="280" height="156" src="https://www.youtube.com/embed/MYBfjnhSNcY" frameborder="0" allowfullscreen></iframe></div>
      </div>
     

    </div>



      <div class="row">
       <div class="col-md-2">
     
          <h4>Top aligned media</h4>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
         
        </div>
 
      <div class="col-md-4">
          <div class="responsive-vide"><iframe width="280" height="156" src="https://www.youtube.com/embed/MYBfjnhSNcY" frameborder="0" allowfullscreen></iframe></div>
      </div>
     

    </div>







{% endblock %}