{% extends "background2.html" %}
{% block title %}Admin Links{% endblock %}

{% block content %} 

<div class="container" style="margin-top:20px;">
  <div class="row">
    <div class="col-sm-12">
	    <div class="list-group">
	    	<a href="../standardsall" class="list-group-item"><h4>All years school Data</h4>
			<p>Look at the data for every year</p>
			</a>
			<a href="../schooladmin/pass" class="list-group-item"><h4>School Password</h4>
			<p>Change the access password for your school account</p>
			</a>
			<a href="../schooladmin/vpass" class="list-group-item"><h4>Outside School Code</h4>
			<p>Change the access code that allows outside school users to submit verifications</p>
			</a>
			<a href="../schooladmin/user" class="list-group-item"><h4>School Users</h4>
			<p>Add or delete emails accounts for access to your school account</p>
			<p>Assign or retract email accounts administration access to your school account</p>
			</a>
			<a href="../staff/create" class="list-group-item"><h4>School Users</h4>
			<p>Create Staff</p>
			<a href="../staff/delete" class="list-group-item"><h4>School Users</h4>
			<p>Delete Staff</p>
			</a>
		
		</div>
    </div>
  </div>


{% endblock %}