{% extends "background2.html" %}
{% block title %}Create Password{% endblock %}

{% block content %}
  <div class="container">
      <form class="form-signin" role="form" method="post">
        <h4 class="form-signin-heading text-center">
          <mark>{{school}}</mark> <br>
          Change Password
        </h4>
       <div class="form-group">
              {% if school %}
               {{form.school.label}} {{form.school(class="form-control", value=school, readonly="True")}}
              {% else %}
               {{form.school.label}} {{form.school(class="form-control")}}
              {% endif %}

          </div>
        <div class="form-group">
            {{form.password.label}} {{form.password(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.confirm.label}} {{form.confirm(class="form-control")}}
        </div>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            {% endif %}
        <!-- Change this to a button or input when using this as a form -->
        <input type="submit" class="btn btn-outline btn-default btn-block" value="Change Password">
        </form>
</div>
 
   
{% endblock %}