{% extends "background.html" %}
{% block title %}Setup{% endblock %}

{% block content %}
<div class="container">
      <form class="form-signin" role="form" method="post">
        <h4 class="form-signin-heading text-center">Create Data</h4>
       <div class="form-group">
               {{form.school.label}} {{form.school(class="form-control")}}
          </div>
        <div class="form-group">
            {{form.year.label}} {{form.year(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.filename.label}} {{form.filename(class="form-control")}}
        </div>
        <!-- Change this to a button or input when using this as a form -->
        <input type="submit" class="btn btn-outline btn-default btn-block" value="Create">
        </form>
</div>
{% endblock %}