{% extends "background2.html" %}
{% block title %}Create Verification Login{% endblock %}

{% block content %}
  <div class="container">
      <form class="form-signin" role="form" method="post">
        <h4 class="form-signin-heading text-center">
          <mark>{{school}}</mark> <br>
          Change Code
        </h4>
       <div class="form-group">
               {{form.school.label}} {{form.school(class="form-control", value=school, readonly="True")}}
          </div>
        <div class="form-group">
            {{form.code.label}} {{form.code(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.confirm.label}} {{form.confirm(class="form-control")}}
        </div>
           {% if form.code.errors %}
                {% for error in form.code.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            {% endif %}
        <!-- Change this to a button or input when using this as a form -->
        <input type="submit" class="btn btn-outline btn-default btn-block" value="Change Code">
        </form>
</div>
 
   
{% endblock %}